/************ Bible CSS ************/
chapter-num, psalm-num {
	display: block;

	text-align: center;
	font-weight: bold;
	user-select: none;
}
verse-num {
	position: relative;
	top: -.2rem;
	line-height: 0px;

	padding-right: .1rem;
	font-size: .7rem;
	color: #999999;
	user-select: none;
}
end-of-chapter {
	display: inline-block;
	min-width: .6rem;
	min-height: .6rem;
}
line-break {
	letter-spacing: -.4em;
	padding-right: .4em;
	color: #999999;
}
w.highlight {
	text-decoration: underline;
}
fixed-highlight {
	display: block;
	position: absolute;
	height: 2px;
	background-color: #a0a0a0;
	margin-top: 1.3rem;
	user-select: none;
}
verse-num.highlight, end-of-chapter.highlight {
	background-color: #44dd44;
	border-radius: .3rem;
}
@keyframes temp-highlight {
	from {
		background-color: #44dd44;
	}
	to {
		background-color: white;
	}
}
verse-num.temp-highlight, end-of-chapter.temp-highlight {
	border-radius: .3rem;
	animation-name: temp-highlight;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
layout-line {
	display: inline-block;
	width: 44rem;
}

/************ Other CSS ************/
body, select, input, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

.bible-title {
	letter-spacing: 1.4px;
	font-weight: bold;
}

.top-bar, .bar {
	display: flex;
	user-select: none;
}

.top-bar {
	border-bottom: 1.5px solid #aaa;
}

.button {
	user-select: none;
	cursor: pointer;
}

select {
	cursor: pointer;
	border: none;
}

input[type="text"] {
	border: none;
	padding: 0px;
}

a {
	text-decoration: none;
}
table, td, th {
	border: .1rem solid #dddddd;
	border-collapse: collapse;
}
td, th {
	padding: .5rem;
}

.ref-range {
	color: #AA0000;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin-right: .3rem;
}

#book {
	flex-grow: 1;
	padding-top: 1.8rem;
	padding-left: 2rem;
	padding-right: 2rem;

	overflow-y: scroll;
	overflow-x: hidden;

	line-height: 1.8rem;
	border: 1.5px solid #aaa;
}

#resultPanel {
	flex-grow: 1;
	padding-left: 2rem;
	padding-right: 2rem;

	overflow-y: scroll;
	overflow-x: hidden;
}

/************ Site-specifc ************/

select:hover, select:focus {
/* $BEGIN(ifyouabide) */
	color: #b03333;
	background-color: white;
/* $END */
/* $BEGIN(lsvbible) *
	background-color: #fff;
/* $END */
}

.theme, .top-bar, .bar, select {
/* $BEGIN(ifyouabide) */
	background-color: #883333;
	color: #f7f7f7;
/* $END */
/* $BEGIN(lsvbible) *
	background-color: #ffbd2f;
	color: #222;
/* $END */
}