/************ Bible CSS ************/
chapter-num, psalm-num {
	display: block;

	text-align: center;
	font-weight: bold;
	user-select: none;
}
verse-num {
	position: relative;
	top: -.2rem;
	line-height: 0px;

	padding-right: .1rem;
	font-size: .7rem;
	color: #999999;
	user-select: none;
}
end-of-chapter {
	display: inline-block;
	min-width: .6rem;
	min-height: .6rem;
}
line-break {
	letter-spacing: -.4em;
	padding-right: .4em;
	color: #999999;
}
w.highlight {
	text-decoration: underline;
}
fixed-highlight {
	display: block;
	position: absolute;
	height: 2px;
	background-color: #a0a0a0;
	margin-top: 1.3rem;
	user-select: none;
}
interlinear-line {
	display: block;
	color: #aaa;
}
interlinear-line.greek {
	font-family: 'Source Sans Pro';
	font-size: .6875rem;
}
interlinear-line.hebrew {
	font-family: 'Cardo';
	font-size: .8125rem;
}
interlinear-word {
	position: relative;
	cursor: pointer;
	user-select: none;
	white-space: nowrap; /* a few strongs, like "ἵνα μή" are actually multiple words */
}
verse-num.highlight, end-of-chapter.highlight {
	background-color: #44dd44;
	border-radius: .3rem;
}
@keyframes temp-highlight {
	from {
		background-color: #44dd44;
	}
	to {
		background-color: white;
	}
}
verse-num.temp-highlight, end-of-chapter.temp-highlight {
	border-radius: .3rem;
	animation-name: temp-highlight;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
main-line {
	display: inline-block;
	width: 44rem;
}

/************ Other CSS ************/
body, select, input, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

.top-bar {
	border-bottom: 1.5px solid #aaa;
}

.top-bar, .bar {
	display: flex;
	user-select: none;
}

.button {
	display:inline-block;

	user-select: none;
	cursor: pointer;
	padding: 0em .5em;
	border-radius: .2rem;

	transition: all 0.2s;
}

.bible-title {
	letter-spacing: 1.4px;
	text-decoration: none;
}

.book-select-button,.book-select-header {
	padding: .25rem .75rem;
	font-size: .8125rem;
	user-select: none;
	border-left: 1px solid #ccc;
}

.book-select-button,.chapter-select-button {
	cursor: pointer;
}

.book-select-button:hover, .chapter-select-button:hover {
	background-color: #ddd;
}

.book-select-header {
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.chapter-select-grid {
	grid-template-columns: repeat(5, 1fr);
	padding: .5rem;
}

.chapter-select-button {
	padding: .5rem 1rem;
	font-size: .8125rem;
	user-select: none;
}

.menu {
	position:absolute;
	top: -.25rem;
	border: 1px solid gray;
	background-color: #fff;
	box-shadow: 1px 2px #777;
	max-height: 50vh;
	overflow-y: scroll;
	z-index: 100;

	/* Needed for ios to prevent slow/unsmooth scrolls */
	-webkit-overflow-scrolling: touch;
}

.menu-option {
	user-select: none;
	padding:.3rem;
	padding-left:2rem;
	padding-right:2rem;
	font-size: .825rem;
}

.menu-option + .menu-option {
	padding-top: 0rem;
}

.menu-option-button {
	cursor: pointer;
}

.menu-option-button:hover {
	background-color: #ddd;
}

hr {
	margin: 0px;
	border: 0px;
	border-top: 1px solid #ccc;
}

select {
	cursor: pointer;
	border: none;
}

input[type="text"] {
	border: none;
	padding: 0px;
}

table, td, th {
	border: .1rem solid #dddddd;
	border-collapse: collapse;
}
td, th {
	padding: .5rem;
}

.ref-range {
	color: #AA0000;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	margin-right: .3rem;
	text-decoration: none;
}

#book {
	height: 100%;
	padding-top: 1.8rem;
	padding-left: 2rem;
	padding-right: 2rem;

	overflow-y: scroll;
	overflow-x: hidden;

	line-height: 1.8rem;
	border: 1.5px solid #aaa;

	/* Needed for ios to prevent slow/unsmooth scrolls */
	-webkit-overflow-scrolling: touch;
}

#resultPanel {
	flex-grow: 1;
	padding-left: 2rem;
	padding-right: 2rem;

	overflow-y: scroll;
	overflow-x: hidden;

	/* Needed for ios to prevent slow/unsmooth scrolls */
	-webkit-overflow-scrolling: touch;
}

/************ Site-specifc ************/

.button.theme:hover {
/* $BEGIN(ifyouabide) */
	color: #000;
	stroke: #000;
	background-color: #f7f7f7;
/* $END */
/* $BEGIN(lsvbible) *
	background-color: #fff;
/* $END */
}

.theme, .top-bar, .bar {
/* $BEGIN(ifyouabide) */
	background-color: #883333;
	color: #f7f7f7;
	stroke: #f7f7f7;
/* $END */
/* $BEGIN(lsvbible) *
	background-color: #ffbd2f;
	color: #222;
	stroke: #222;
/* $END */
}